<div class="container-fluid">
    <form [formGroup]="formAdmin" (ngSubmit)="btnSave(formAdmin)">
        <!-- Nombre completo -->
        <mat-form-field class="w-100 pl-2 pr-3 pb-3" appearance="fill">
            <mat-label>Nombre completo</mat-label>
            <input type="text" matInput formControlName="name">
        </mat-form-field>
        <!-- Tipo de administrador -->
        <mat-form-field class="w-100 pl-2 pr-3 pb-3" appearance="fill">
            <mat-label>Tipo de administrador</mat-label>
            <select matNativeControl formControlName="type" (change)="descripcionOfAdmin($event.target.value)">
              <option *ngFor="let item of typeOfAdmin; index as i" [value]="item.type">{{item.name}}</option>
            </select>
            <div class="form-text">{{describeAdmin}}</div>
        </mat-form-field>
        <!-- Nombre de usuario -->
        <mat-form-field class="w-100 pl-2 pr-3 pb-3" appearance="fill">
            <mat-label>Nombre de usuario</mat-label>
            <input type="text" matInput formControlName="user_name">
        </mat-form-field>
        <!-- Contraseña -->
        <mat-form-field class="w-100 pl-2 pr-3 pb-3" appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <!-- Botón de gurdar registro -->
        <div class="d-flex justify-content-end">
            <button type="submit" mat-raised-button color="primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-save-fill" viewBox="0 0 16 16">
                    <path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v7.793L4.854 6.646a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l3.5-3.5a.5.5 0 0 0-.708-.708L8.5 9.293V1.5z"/>
                  </svg> Registrar
            </button>
        </div>
    </form>
</div>