<div class="h-100 d-flex align-items-center">
    <mat-card class="example-card">
        <mat-card-title>Logo Zapateria</mat-card-title>
        <form [formGroup]="formLogin" (ngSubmit)="btnLogIn(formLogin)">
    
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput type="text" placeholder="" formControlName="user_name">
                <mat-error *ngIf="formLogin.get('user_name').invalid && formLogin.get('user_name').touched || formLogin.get('user_name').invalid">Favor de escribir el usuario</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" placeholder="" formControlName="password">
                <mat-error *ngIf="formLogin.get('password').invalid && formLogin.get('password').touched || formLogin.get('password').invalid">Favor de escribir la contraseña</mat-error>
            </mat-form-field>
            <br>
            <button type="submit" mat-flat-button color="primary">Ingresar</button>
    
        </form>
    </mat-card>
</div>