<div class="container mt-4">
    <div class="row">
        <div class="col">
            <mat-form-field class="w-75" appearance="fill">
                <mat-label>Fecha de inicio</mat-label>
                <input type="date" matInput>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="w-75" appearance="fill">
                <mat-label>Fecha final</mat-label>
                <input type="date" matInput>
            </mat-form-field>
        </div>
    </div>
</div>