<!-- Button trigger modal -->
<div class="container">
    <div class="d-flex justify-content-between mt-4">
        <h1>Administradores</h1>
        <button type="button" mat-fab color="primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="btnAddAdmin()">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
            </svg>
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="staticBackdropLabel">
            <ng-container *ngIf="typeOfTask; else elseTemplate">
                Editar Registro.
            </ng-container>
            <ng-template #elseTemplate>
                Registrar nuevo usuario.
            </ng-template>
        </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn (click)="flagModal()">
        </button>
      </div>
      <div class="modal-body">
        <app-register (active)="detonationRefresh($event)" [data]="data" [typeOfTask]="typeOfTask" *ngIf="flagFormAdmin"></app-register>
      </div>
    </div>
  </div>
</div>
  

<div class="container mt-2">
    <mat-card class="mt-3" *ngFor="let item of admins">
        <mat-card-title>
            <h2>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg> {{item.name}}
            </h2>
        </mat-card-title>
        <mat-card-content>
            <div class="row row-cols-3">
                <div class="col">
                    <div class="w-75 border-bottom">{{item.type}}</div>
                </div>
                <div class="col">
                    <div class="w-75 border-bottom">{{item.user_name}}</div>
                </div>
                <div class="col">
                    <div class="w-75 border-bottom" *ngIf="!item.psw">**********</div>
                    <div class="w-75 border-bottom" *ngIf="item.psw">{{item.password}}</div>
                </div>
                <div class="col"><span class="form-text">Tipo de administrador</span></div>
                <div class="col"><span class="form-text">Usuario</span></div>
                <div class="col d-flex justify-content-between">
                    <span class="form-text">Contraseña</span>
                    <button type="button" class="btn btn-light" (click)="btnpassword(item)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16" *ngIf="!item.psw">
                            <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                            <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16" *ngIf="item.psw">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer class="p-2">
            <div class="d-flex justify-content-end">
                <span data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <button type="button" mat-raised-button color="primary" (click)="btnEditAdmin(item)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg> Editar
                    </button>
                </span>
                &nbsp; &nbsp;
                <button type="button" mat-raised-button style="background-color: red; color: white;" (click)="btnDeleteAdmin(item.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash2-fill" viewBox="0 0 16 16">
                        <path d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
                    </svg> Eliminar
                </button>
            </div>
        </mat-card-footer>
    </mat-card>
</div>
  