<div class="row">
    <div class="col-md-2 col-sm-12">
        <div class="row">
            <div class="col-md-12 col-sm-2">
                <button class="btn-color buttom-option w-100 m-1">Todos</button>
            </div>
            <div class="col-md-12 col-sm-2">
                <button class="btn-color buttom-option w-100 m-1">Pendientes</button>
            </div>
            <div class="col-md-12 col-sm-2">
                <button class="btn-color buttom-option w-100 m-1">Confirmados</button>
            </div>
            <div class="col-md-12 col-sm-2">
                <button class="btn-color buttom-option w-100 m-1">En proceso</button>
            </div>
            <div class="col-md-12 col-sm-2">
                <button class="btn-color buttom-option w-100 m-1">En camino</button>
            </div>
            <div class="col-md-12 col-sm-2">
                <button class="btn-color buttom-option w-100 m-1">Finalizados</button>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-sm-12">
        <div class="container-fluid">
            <!--  -->
        </div>
    </div>
</div>