<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-12">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <button class="btn-color buttom-option w-100 m-1" (click)="btnUpload(0)">Cargar imagen</button>
                </div>
                <div class="col-md-12 col-sm-6">
                    <button class="btn-color buttom-option w-100 m-1" (click)="btnUpload(1)">Acomodar imagenes</button>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-sm-12">
            <ng-container *ngIf="!flagOption; else elseflagOption">
                <div class="m-3">
                    <label for="formFileMultiple" class="form-label">Cargar Imagenes (formatos aceptados jpeg, jpg, png)</label>
                    <input class="form-control" type="file" id="formFileMultiple" (change)="onUploadChange($event)"
                        accept=".png, .jpg, .jpeg" [disabled]="flagAnswerOfUpLoadImg" multiple>
                </div>
                <!-- Botón de guardar -->
                <div class="d-flex justify-content-end p-1" *ngIf="base64textString.length != 0">
                    <button type="button" class="btn btn-success w-25" (click)="btnSaveUploadImg()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save2-fill" viewBox="0 0 16 16">
                            <path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v6h-2a.5.5 0 0 0-.354.854l2.5 2.5a.5.5 0 0 0 .708 0l2.5-2.5A.5.5 0 0 0 10.5 7.5h-2v-6z"/>
                        </svg> Cargar
                    </button>
                </div>
                <!-- Imagenes cargadas -->
                <div class="row row-cols-1 row-cols-md-3 g-4" *ngIf="base64textString.length != 0">
                    <div class="col" *ngFor="let item of base64textString; index as i">
                        <div class="card h-100">
                            <img src="{{item.img}}" class="card-img-top border-bottom" alt="...">
                            <div class="d-flex justify-content-end">
                                <button mat-raised-button color="primary" class="m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Eliminar" (click)="btnDeleteUploadImg(i)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2-fill" viewBox="0 0 16 16">
                                        <path d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #elseflagOption>
                <h1 class="mt-4 mb-4">Imagenes del carrusel</h1>
                <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of arrayImg" cdkDrag>
                        <div class="d-flex justify-content-end align-items-end p-1" style="background-image: url({{item.img}}); background-size: 100% 100%; height: 100% ; width: 100%;">
                            <button type="button" mat-mini-fab style="background: #dc3545;" (click)="btnDeleteImgCarousel(item.id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                  </div>                  
            </ng-template>
        </div>
    </div>
</div>

<!-- Cargar imagenes -->
<div class="modal d-flex align-items-center" style="display: block;" *ngIf="flagAnswerOfUpLoadImg">
    <div class="modal-dialog w-50">
        <div class="modal-content pt-3 pb-2">
            <div class="text-center">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <h1 class="text-center mt-3">Cargardo imagenes...</h1>
        </div>
    </div>
</div>