.modal {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.prueba {
    background-size: cover;
}
/*---------------------*/
/*      Drag&Drop      */
/*---------------------*/
.example-list {
    width: 1000px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}
  
.example-box {
    /* padding: 20px 10px; */
    border-right: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    flex-grow: 1;
    flex-basis: 0;
}
  
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  
.cdk-drag-placeholder {
    opacity: 0;
}
  
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  
.example-box:last-child {
    border: none;
}
  
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/*---------------------*/
/*     Style button    */
/*---------------------*/
.btn-color {
    width: 150px;
    color: white;
    background: #343a40;
    background: -moz-linear-gradient(-45deg, #343a40 0%, #667584 50%, #4e5256 51%, #242a30 71%, #343a40 100%);
    background: -webkit-linear-gradient(-45deg, #343a40 0%, #667584 50%, #4e5256 51%, #242a30 71%, #343a40 100%);
    background: linear-gradient(135deg, #343a40 0%, #667584 50%, #4e5256 51%, #242a30 71%, #343a40 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#343a40', endColorstr='#343a40', GradientType=1);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
 
    padding: 10px;
    border-radius: 2px;
 }
 
 @-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 31%
    }
    50% {
        background-position: 100% 70%
    }
    100% {
        background-position: 0% 31%
    }
 }
 
 @-moz-keyframes AnimationName {
    0% {
        background-position: 0% 31%
    }
    50% {
        background-position: 100% 70%
    }
    100% {
        background-position: 0% 31%
    }
 }
 
 @keyframes AnimationName {
    0% {
        background-position: 0% 31%
    }
    50% {
        background-position: 100% 70%
    }
    100% {
        background-position: 0% 31%
    }
 }