@media (min-width: 768px) {
    img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 992px) {
    img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1200px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1320px;
    }
}

.responsive {
    max-width: 100%;
    height: auto;
}