  .font-p {
    font-size: larger;
  }
  
  .backgroundSize {
    width: 20px;
    height: 20px;
  }

  input.example-right-align {
    -moz-appearance: textfield;
  }
/* Propiedades de mat-step */
  .mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
/* Expansión Panel */
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
/* Radio button */
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }