<mat-vertical-stepper [linear]="isLinear" #stepper>
  <!-- Captura de no de folio -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Folio del calzado</ng-template>
      <!-- Folio del calzado -->
      <mat-form-field class="w-75" appearance="fill">
        <mat-label>Folio del calzado</mat-label>
        <input type="text" matInput placeholder="" required formControlName="number_folio">
      </mat-form-field>
      <!-- Botón de siguiente -->
      <div class="w-75 d-flex justify-content-end mt-3">
        <button mat-raised-button style="background-color: #198754; color: white;" (click)="getDataOfStock()" matStepperNext>
          Siguiente <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
          </svg>
        </button>
      </div>
    </form>
  </mat-step>
  <!-- Datos del calzado -->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Datos del calzado</ng-template>
      <!-- Modelo del calzado -->
      <mat-form-field class="w-75" appearance="fill">
        <mat-label>Modelo del calzado</mat-label>
        <input type="text" matInput required formControlName="model">
      </mat-form-field>
      <!-- Nombre del calzado -->
      <mat-form-field class="w-75" appearance="fill">
        <mat-label>Nombre del calzado</mat-label>
        <input type="text" matInput required formControlName="name">
      </mat-form-field>
      <!-- Precio del calzado -->
      <mat-form-field class="w-75" appearance="fill" floatLabel="always">
        <mat-label>Precio del calzado</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0" required formControlName="price">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
      <!-- Selector de material -->
      <mat-form-field class="w-75" appearance="fill">
        <mat-label>Material del calzado</mat-label>
        <select matNativeControl (change)="selectMaterial()" required formControlName="id_material">
          <option value="0">Nuevo</option>
          <option *ngFor="let item of optionsOfMaterial" [value]="item.id">{{item.type_of_material}}</option>
        </select>
      </mat-form-field>
      <!-- Input de nuevo matrial de calzado por registrar -->
      <mat-form-field class="w-75" appearance="fill" *ngIf="flagNewMaterial">
        <mat-label>Nombre del material del calzado</mat-label>
        <input type="text" matInput formControlName="type_of_material">
      </mat-form-field>
      <!-- Selector del sección del calzado o Tipo de calzado -->
      <mat-form-field class="w-75" appearance="fill">
        <mat-label>Categoría del calzado</mat-label>
        <select matNativeControl (change)="selectTypeOfFootwaer()" required formControlName="id_type_footwaer">
          <option value="0">Nuevo</option>
          <option *ngFor="let item of optionsOfTypeOfFootwaer" [value]="item.id">{{item.name}}</option>
        </select>
      </mat-form-field>
      <!-- Input de nuevo tipo de calzado por registrar -->
      <mat-form-field class="w-75" appearance="fill" *ngIf="flagNewTypeOfFootwaer">
        <mat-label>Nombre de categoría del calzado</mat-label>
        <input type="text" matInput formControlName="name_type_footwaer">
      </mat-form-field>
      <!-- Descripción -->
      <mat-form-field class="w-75" appearance="fill">
        <mat-label>Descripción del calzado</mat-label>
        <textarea matInput required formControlName="description"></textarea>
      </mat-form-field>
      <!-- Cargar imagen principal del calzado -->
      <div class="mb-3">
        <label for="formFile" class="form-label">Ingresar la imagen principal</label>
        <input class="form-control w-75" type="file" id="formFile" (change)="onUploadChange($event, true)">
      </div>
      <!-- img para mostrar la imagen cargada -->
      <img src="{{this.secondFormGroup.get('img_principal').value}}" style="height: 200px; width: 200px;" alt="Imagen principal" *ngIf="this.secondFormGroup.get('img_principal').value != ''">
      <!-- Botón de siguiente -->
      <div class="w-75 d-flex justify-content-between mt-3">
        <button mat-button matStepperPrevious style="background-color: #343a40; color: white;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
          </svg> Regresar
        </button>
        <button mat-button matStepperNext style="background-color: #198754; color: white;">
          Siguiente <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
          </svg>
        </button>
      </div>
    </form>
  </mat-step>
  <!-- Selección de colores -->
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Selección de colores</ng-template>
      <div class="row">
        <div [ngClass]="{'col-12': !flagNewColor, 'col-sm-12 col-md-6': flagNewColor}">
          <mat-form-field class="w-75" appearance="fill">
            <mat-label>Selección de color</mat-label>
            <select matNativeControl formControlName="selectColor" (change)="selectColor()">
              <option value="0">Nuevo Color</option>
              <option *ngFor="let item of optionsOfColors" [value]="item.id">{{item.name}}</option>
            </select>
          </mat-form-field>
          <ul class="list-group list-group-flush w-25" *ngIf="arrayColor != 0">
            <li class="list-group-item" *ngFor="let item of arrayColor; index as i">
              <div class="d-flex justify-content-between">
                <div class="backgroundSize" [style.background]="item.data.color"></div>
                <div class="pl-2">&nbsp;&nbsp;{{item.data.name}}</div>
                <div>
                  <button mat-button color="primary" (click)="btnDeleteDataInArray(arrayColor, i)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div *ngIf="flagNewColor" [ngClass]="{'col-sm-12 col-md-6': flagNewColor}">
          <mat-form-field class="w-75" appearance="fill">
            <mat-label>Definir nombre al color</mat-label>
            <input type="text" matInput formControlName="colorname">
          </mat-form-field>
          <mat-form-field class="w-75" appearance="fill">
            <mat-label>Seleccionar color</mat-label>
            <input type="color" matInput formControlName="colorHexa">
          </mat-form-field> 
          <div class="w-75 d-flex justify-content-end">
            <button type="button" mat-flat-button color="primary" (click)="btnAddNewColor()">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
              </svg> Añadir Color
            </button>
          </div>
        </div>
      </div>
      <div class="w-75 d-flex justify-content-between mt-3">
        <button type="button" mat-button matStepperPrevious style="background-color: #343a40; color: white;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
          </svg> Regresar
        </button>
        <button type="button" mat-button matStepperNext style="background-color: #198754; color: white;">
          Siguiente <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
          </svg>
        </button>
      </div>
    </form>
  </mat-step>
  <!-- Datos para el stock -->
  <mat-step>
    <ng-template matStepLabel>Stock</ng-template>
    <div class="mt-3">
      <mat-radio-group aria-label="Seleccionar una opción">
        <mat-radio-button *ngFor="let item of arrayColor; index as i" [value]="item.data.name" (click)="checkboxColor(i, false)">
          <div class="d-flex justify-content-start">
            <div class="backgroundSize" [style.background]="item.data.color"></div>
            <div>&nbsp;{{item.data.name}}</div>
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="container" *ngIf="flagOfStock">
      <div class="row">
        <div class="col">
          <!-- Número del calzado (size) -->
          <mat-form-field class="w-75" appearance="fill">
            <mat-label>Numero del calzado</mat-label>
            <input type="number" matInput name="sizeFootwaerModal" [(ngModel)]="sizeFootwaerModal">
          </mat-form-field>
        </div>
        <div class="col">
          <!-- Número del calzado (size) -->
          <mat-form-field class="w-75" appearance="fill">
            <mat-label>Número de calzado en existencia</mat-label>
            <input type="number" matInput name="totalFotwaerModal" [(ngModel)]="totalFotwaerModal">
          </mat-form-field>
        </div>
        <div class="col">
          <button mat-flat-button color="primary" (click)="btnAddStock()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
            </svg> Añadir
          </button>
        </div>
      </div>
      <table class="table table-striped table-hover mt-3" *ngIf="arrayColor[position].stock.length != 0">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tamaño</th>
            <th scope="col">Existencia</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of arrayColor[position].stock; index as i">
            <th scope="row">{{i+1}}</th>
            <td>Tamaño: {{item.sizes}}</td>
            <td>Total: {{item.total}}</td>
            <td>
              <button mat-icon-button color="primary" (click)="btnDeleteDataInArray(arrayColor[position].stock, i)">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash2-fill" viewBox="0 0 16 16">
                  <path d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="w-75 d-flex justify-content-between mt-3">
        <button type="button" mat-button matStepperPrevious style="background-color: #343a40; color: white;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
          </svg> Regresar
        </button>
        <button type="button" mat-button matStepperNext style="background-color: #198754; color: white;">
          Siguiente <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
          </svg>
        </button>
      </div>
    </div>
  </mat-step>
  <!-- Cargar imagenes por color -->
  <mat-step>
    <ng-template matStepLabel>Cargar imagenes</ng-template>
    <h2 class="mt-2">Seleccionar color</h2>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button *ngFor="let item of arrayColor; index as i" [value]="item.data.name" (click)="checkboxColor(i, true)">
        <div class="d-flex justify-content-start">
          <div class="backgroundSize" [style.background]="item.data.color"></div>
          <div>&nbsp;{{item.data.name}}</div>
        </div>
      </mat-radio-button>
    </mat-radio-group>
    <div class="mt-4 w-75" *ngIf="flagInputFile">
      <h2>Cargar imagen</h2>
      <div class="mb-3" *ngIf="flagOfRefreshInputFile">
        <label for="formFileMultiple" class="form-label"></label>
        <input class="form-control" type="file" id="formFileMultiple" (change)="onUploadChange($event, false)" accept=".png, .jpg, .jpeg" multiple>
      </div>
    </div>
    <!-- Imagenes cargadas -->
    <div class="row row-cols-1 row-cols-md-3 g-4" *ngIf="flagToShowImg">
      <div class="col" *ngFor="let item of arrayColor[this.position].image; index as i">
          <div class="card h-100">
              <img src="{{item.img}}" class="card-img-top border-bottom" alt="...">
              <div class="d-flex justify-content-end">
                  <button mat-raised-button color="primary" class="m-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Eliminar" (click)="btnDeleteDataInArray(arrayColor[this.position].image, i)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2-fill" viewBox="0 0 16 16">
                          <path d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
                      </svg>
                  </button>
              </div>
          </div>
      </div>
    </div>
    <div class="w-75 d-flex justify-content-between mt-3">
      <button type="button" mat-button matStepperPrevious style="background-color: #343a40; color: white;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
        </svg> Regresar
      </button>
      <button type="button" mat-button matStepperNext style="background-color: #198754; color: white;">
        Siguiente <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
        </svg>
      </button>
    </div>
  </mat-step>
  <!-- Finalización -->
  <mat-step StepControl>
    <ng-template matStepLabel>Finalización</ng-template>
    <mat-card class="mt-2">
      <mat-card-title>Folio: {{firstFormGroup.get('number_folio').value}}</mat-card-title>
      <mat-card-content>
        <hr class="ml-3 mr-3">
        <div class="row row-cols-3">
          <!-- Primera linea -->
          <div class="col">
            <div class="w-75 border-bottom">{{secondFormGroup.get('model').value}}</div>
          </div>
          <div class="col"></div>
          <div class="col"></div>
          <!-- Segunda linea -->
          <div class="col"><span class="form-text">Modelo</span></div>
          <div class="col"></div>
          <div class="col"></div>
          <!-- Tercero linea -->
          <div class="col mt-4">
            <div class="w-75 border-bottom">{{secondFormGroup.get('name').value}}</div>
          </div>
          <div class="col mt-4">
            <div class="w-75 border-bottom">
              <ng-container *ngIf="secondFormGroup.get('id_material').value == 0; else elseMaterial">
                {{secondFormGroup.get('type_of_material').value}}
              </ng-container>
              <ng-template #elseMaterial>
                {{printMaterial.type_of_material}}
              </ng-template>
            </div>
          </div>
          <div class="col mt-4">
            <div class="w-75 border-bottom">
              <ng-container *ngIf="secondFormGroup.get('id_type_footwaer').value == 0; else elseTypeFootwaer">
                {{secondFormGroup.get('name_type_footwaer').value}}
              </ng-container>
              <ng-template #elseTypeFootwaer>
                {{printCategory.name}}
              </ng-template>
            </div>
          </div>
          <!-- Cuarta linea -->
          <div class="col"><span class="form-text">Nombre del calzado</span></div>
          <div class="col"><span class="form-text">Material</span></div>
          <div class="col"><span class="form-text">Categoria</span></div>
          <!-- Quinta linea -->
          <div class="col mt-4">
            <div class="w-75 border-bottom">{{secondFormGroup.get('price').value}}</div>
          </div>
          <div class="col mt-4">
            <div class="w-75 border-bottom">{{secondFormGroup.get('description').value}}</div>
          </div>
          <div class="col mt-4">
            <p class="text-center font-p">Imagen principal</p>
          </div>
          <!-- Sexta linea -->
          <div class="col"><span class="form-text">Precio del calzado</span></div>
          <div class="col"><span class="form-text">Descripción</span></div>
          <div class="col d-flex justify-content-center">
            <img src="{{this.secondFormGroup.get('img_principal').value}}" style="height: 200px; width: 200px;" alt="Imagen principal">
          </div>
        </div>
        <!-- Invetario por color -->
        <mat-card-subtitle>Stock</mat-card-subtitle>
        <hr class="ml-3 mr-3">
        <mat-tab-group>
          <mat-tab *ngFor="let item of arrayColor" label="{{item.data.name}}">
            <table class="table w-75">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">No. del calzado</th>
                  <th scope="col">No. de calzado en existencia</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let itemStock of item.stock; index as i">
                  <th scope="row">{{i+1}}</th>
                  <td>{{itemStock.sizes}}</td>
                  <td>{{itemStock.total}}</td>
                </tr>
              </tbody>
            </table>
            <p style="font-size: larger;">Imagenes</p>
            <div class="row row-cols-5">
              <div class="col" *ngFor="let itemImg of item.image">
                <img src="{{itemImg.img}}" style="height: 200px; width: 200px;" alt="Imagen principal">
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>   
      </mat-card-content>
    </mat-card>
    <div class="w-75 d-flex justify-content-between mt-3">
      <button type="button" mat-button matStepperPrevious style="background-color: #343a40; color: white;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
        </svg> Regresar
      </button>
      <button type="button" mat-button matStepperNext style="background-color: #198754; color: white;" (click)="printColor(); stepper.reset()">
        Guardar <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save-fill" viewBox="0 0 16 16">
          <path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v7.793L4.854 6.646a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l3.5-3.5a.5.5 0 0 0-.708-.708L8.5 9.293V1.5z"/>
        </svg>
      </button>
      <!-- <button mat-button matStepperPrevious>Back</button> -->
      <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
    </div>
  </mat-step>
</mat-vertical-stepper>
